@media (max-width:1000px) {
    /*header*/
    .menu-icon {
        display: none;
    }
    /*main*/
    .top-wrapper div.text-line h1{
        font-size: 32px;
    }

    .top-wrapper div.text-line p{
        font-size: 12px;
    }

    .main-image {
        display: none;
    }
    /*content*/
    div div.mc-product{
        width: 45%;
        margin-top: 0.2rem;
        margin-bottom: 0.2rem;
    }
    div.mini-carousel h2, div.mini-carousel div.card{
        width: 100%;
    }
    div.mini-carousel h2{
        padding-bottom: 1rem;
        text-align: center;
    }
    div.mini-carousel div.mc-card{
        width: 40%;
        flex-direction: column;
        text-align: center;
    }
    div.mini-carousel div.mc-card p{
        padding-left: 0;
        width: 100%;
    }
    div.mini-container div.mini-carousel{
        border-top: none;
        border-bottom: none;
    }
    div div.card-groom.left, div div.card-groom.right{
        flex-direction: column;
        width: 80%;
    }
    div div.imagebody{
        width: 100%;
    }
    div div.textbody.ltext, div div.textbody.rtext{
        width: 100%;
        text-align: center;
        padding-left: 0;
        padding-right: 0;
    }
    div div.textbody p.p-body{
        padding: 0 2rem 2rem 2rem;
    }
    div.container div.carousel-care{
        padding-left: 0;
        padding-right: 0;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    div.carousel-care div.txt-care{
        margin-top: 1rem;
    }

    /*form*/
    .forms{
        flex-wrap:wrap;
        justify-content: center;
    }
        .container-forms{
        max-width: 90%;
        }
        .container-content {
            max-width: 90%;
        }
    input {
        padding: 0.3rem;
        width: calc(50% - 1.1rem);
        height: 2.5rem;
        font-size: 16px;
    }

    /*footer*/
    
}

@media (max-width: 764px){
    /*header*/
    .header-list{
        display: none;
    }

    .header-right {
        display: none;
    }

    span.menu-icon {
        display: block;
        margin-right: 20px;
    }
    /*main*/
    .top-wrapper div.text-line h1{
        font-size: 18px;
    }

    .top-wrapper div.text-line p{
        font-size: 8px;
    }

    .top-wrapper .text-line img.main-image{
        overflow: hidden;
    }
    /*content*/
    div div.mc-product{
        width: 100%;
        margin-top: 0.2rem;
        margin-bottom: 0.2rem;
    }
    div.groom h2{
        padding: 0 1rem;
    }
    div div.textbody p.p-body{
        margin-top: 0.5rem;
        line-height: 1;
    }
    div.carousel-care div.img-care,div.carousel-care div.txt-care{
        width: 80%;
    }
    div.mini-carousel div.mc-card p{
        display: none;
    }

    /*form*/
    body{
        font-size:calc(100% - 20%);
    }
    .forms{
        flex-wrap:wrap;
        justify-content: center;
    }
    .container-forms{
        max-width: 95%;
    }
    .container-content {
        max-width: 95%;
    }

    input {
        padding: 0.3rem;
        width: calc(50% - 1.1rem);
        height: 2.5rem;
        font-size: 14px;

    }
    .container-forms textarea{
        font-size: 14px;
        height: 10rem;
    }

        /*footer*/
    .footer-col{
        width: 50%;
        margin-bottom: 30px;
    }
}